@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tenor+Sans&display=swap");

:root {
  --color-black: rgb(39, 37, 39);
  --white: #ffffff;
  --color-lightbrown: #c6c0a9;
  --color-blue: #0457cd;
  --color-light-grey: #917f8e;
  --color-deepblue: #2f3d72;
  --color-brown: #e59b6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tenor Sans;
}

.section-p {
  padding: 70px 500px;
}

.section-p2 {
  padding: 0 50px;
}

.section-p3 {
  padding: 60px 50px;
}

h4 {
  font-size: 19px;
  color: var(--white);
}

h2 {
  font-size: 40;
  color: var(--white);
}

body {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: var(--color-brown);
  justify-content: space-between;
  padding: 14px 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.left-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar {
  display: flex;
}

header li {
  list-style-type: none;
  padding: 0 20px;
}
header a {
  text-decoration: none;
  color: var(--color-black);
  line-height: 10px;
  font-size: 16px;
  /* transition: 0.5 ease; */
}

header a:hover {
  color: aqua;
  border-bottom: 2px solid aqua;
}
span {
  padding: 0 15px;
  cursor: pointer;
}

/* free-ship */
.free-ship {
  background-color: var(--color-black);
  color: var(--white);
  text-align: center;

  padding: 15px 0;
}

/* HERO */
.hero {
  height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3)),
    url(glam-img/hero-img.jpg);
  background-size: cover;
}

.hero-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}

.button {
  padding: 10px 20px;
  border: 2px solid var(--color-black);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
}

.hero .button:hover,
#best-s button:hover {
  color: aqua;
}

/* BEST SELLERS */
#best-s {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#best-s h2 {
  color: var(--color-black);
}
#best-s button {
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--white);
  border: 1px solid;
  cursor: pointer;
}

.best-selling-product {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.bs-text {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bs-text > p {
  line-height: 30px;
  text-align: center;
}

.colour {
  display: flex;
  gap: 20px;
}

/* STUDIO */
.studio-collections {
  margin-top: 50px;
  color: var(--white);
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(glam-img/bg2.jpg);
  background-size: cover;
}

/* footer */

footer {
  font-family: sans-serif;
  background-color: #8e98a8;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

footer a {
  color: var(--color-black);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.pages,
.subscribe-box,
.locations,
.app {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.f-icons,
.app-imgs {
  display: flex;
  gap: 15px;
}

.f-icons i {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

input {
  color: var(--color-black);
  padding: 8px;
  border: none;
  font-size: 20px;
  outline: none;
  border-radius: 6px;
}
.sub-btn {
  padding: 8px 20px;
  border: none;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;

  transition: 0.3s;
}
.sub-btn:hover {
  background: #444;
}
.app-imgs img {
  max-width: 400px;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.pages img,
.subscribe-box h2,
.locations h2,
.app h2 {
  margin-bottom: 20px;
}
